@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');

:root {
    --color-main: #065cab;
    --color-hover: #02325f;
    --text-dark: #343a40;
    --text-gray: #6c757d;
}

body {
    background: #F7F7F7;
    font-size: 14px;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}

a, a:hover, a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
}

input,
select,
textarea {
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
}

input:focus,
select:focus,
textarea:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
}

/* Customize */
.row.row-10 {
    margin-left: -10px;
    margin-right: -10px;
}

.row.row-10 [class*=col] {
    padding-left: 10px;
    padding-right: 10px;
}

.row.row-col-10 {
    margin: 0 -10px;
}

.row.row-col-10 [class*=col] {
    padding: 10px;
}

.row.row-5 {
    margin-left: -5px;
    margin-right: -5px;
}

.row.row-5 [class*=col] {
    padding-left: 5px;
    padding-right: 5px;
}

.swiper-container [class*=swiper-button] {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    cursor: pointer;
}

.swiper-container [class*=swiper-button]:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 3em;
}

.swiper-container .swiper-button-prev.arrow-light {
    left: 30px;
}

.swiper-container .swiper-button-next.arrow-light {
    right: 30px;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    pointer-events: auto;
}

.swiper-container .swiper-button-prev:after {
    content: "\f104";
}

.swiper-container .swiper-button-next:after {
    content: "\f105";
}

.swiper-container:hover [class*=swiper-button] {
    opacity: 1;
    visibility: visible;
}

.heading-block:before {
    position: absolute;
    display: block;
    content: "";
    width: 50px;
    border-bottom: 2px solid var(--color-hover);
    bottom: 0;
    left: 0;
}

.card .link-cover::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
}

.btn-customize {
    border-radius: 30px;
    padding: 8px 48px 8px 18px;
    color: #fff;
    font-weight: bold;
    position: relative;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: var(--color-main);
    font-size: .9em;
    outline: none !important;
    box-shadow: none !important;
}

.btn-customize .text {
    position: relative;
    z-index: 3;
}

.btn-customize .icon {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 2px;
    top: 2px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    z-index: 2;
    background: #1671c4;
}

.btn-customize .icon i {
    position: absolute;
    top: 50%;
    margin-top: -6px;
    left: 50%;
    margin-left: -6px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-customize:hover {
    color: #fff;
    padding-right: 18px;
    padding-left: 42px;
}

.btn-customize:hover .icon {
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    width: calc(100% - 4px);
}

.btn-customize:hover .icon i {
    left: 12%;
}

/* Header */
header {
    z-index: 9;
}

header .logo img {
    width: 100%;
}

header .navigation > ul > li {
    position: relative;
}

header .navigation > ul > li:before {
    height: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-main);
    display: block;
    content: "";
    transition: all .4s cubic-bezier(.22, 1, .36, 1);
}

header .navigation > ul > li > a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 15px;
    color: #343434;
    font-size: 1em;
    font-weight: 700;
    position: relative;
    z-index: 2;
}

header .navigation > ul > li > ul {
    position: absolute;
    top: 40%;
    left: 0;
    min-width: 220px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    opacity: 0;
    visibility: visible;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    background: #fff;
    -webkit-box-shadow: 0 10px 25px rgb(0 0 0 / 10%);
    box-shadow: 0 10px 25px rgb(0 0 0 / 10%);
    border: 1px solid #e9e9e9;
    z-index: 2;
}

header .navigation > ul > li > ul > li:not(:last-of-type) {
    border-bottom: 1px dotted #e9e9e9;
}

header .navigation > ul > li > ul > li > a {
    padding: 8px 15px;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    width: 100%;
    text-decoration: none;
    color: #333;
    display: inline-block;
}

header .navigation > ul > li:hover:before {
    height: 100%;
}

header .navigation > ul > li:hover > a {
    color: #fff;
}

header .navigation > ul > li > ul > li:hover > a {
    color: var(--color-main);
    background-color: #f9f9f9;
}

header .navigation > ul > li:hover > ul {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

header .language {
    position: relative;
}

header .language a {
    color: var(--text-dark);
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    display: flex;
    align-items: center;
    font-size: .95em;
    justify-content: space-between;
}

header .language a img {
    width: 24px;
    margin-right: 8px;
}

header .language a i {
    margin-left: 5px;
}

header .language span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header .language > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: absolute;
    top: 190%;
    right: 0;
    width: 300px;
    opacity: 0;
    visibility: hidden;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    background: #fff;
    -webkit-box-shadow: 0 10px 25px rgb(0 0 0 / 10%);
    box-shadow: 0 10px 25px rgb(0 0 0 / 10%);
    z-index: 7;
    border-bottom: 1px dotted #e9e9e9;
}

header .language > ul:before, header .language > ul:after {
    font-size: 1.4em;
    display: block;
    width: 0;
    height: 0;
    content: "";
    pointer-events: none;
    position: absolute;
    top: -10px;
    right: 15px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

header .language > ul:before {
    border-bottom: 10px solid #a9a9a9;
}

header .language > ul:after {
    border-bottom: 10px solid #fff;
}

header .language > a:hover {
    color: var(--color-main);
}

header .language > ul > li {
    width: 50%;
}

header .language > ul > li {
    border-top: 1px dotted #e9e9e9;
    border-left: 1px dotted #e9e9e9;
}

header .language > ul > li > a {
    padding: 8px 15px;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    width: 100%;
    text-decoration: none;
    color: #333;
    font-size: .9em;
}

header .language:hover ul {
    top: calc(100% + 20px);
    opacity: 1;
    visibility: visible;
}

header .language > ul > li:hover > a {
    color: var(--color-main);
    background-color: #f9f9f9;
}

/* End header */

/* Block banner */
.block-banner .swiper-wrapper {
    height: auto;
}

.block-banner .swiper-container .swiper-slide {
    height: 550px;
    position: relative;
}

.block-banner .swiper-container .swiper-slide .swiper-image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transform: scale(.98);
    transition: .6s transform ease-in;
}


.block-banner .swiper-container .swiper-slide-active .swiper-image {
    transform: scale(1);
    opacity: 1;
}


.block-banner .swiper-container .swiper-slide .swiper-image .swiper-inner h3 {
    font-size: 4em;
}

.block-form {
    position: absolute;
    top: 50%;
    right: calc((100% - 1140px) / 2);
    transform: translateY(-50%);
    z-index: 2;
    width: 100%;
    max-width: 500px;
}

.block-form .card-search .card-header .nav-link {
    background: rgba(255, 255, 255, .6);
    color: #676767;
    transition: .3s all ease;
    padding-top: 10px;
    padding-bottom: 10px;
}

.block-form .card-search .card-header .nav-link.active {
    background: #fff;
    color: #232323;
}

.block-form .card-search .card-header .nav:first-of-type .nav-link {
    border-radius: 4px 0 0 0;
}

.block-form .card-search .card-header .nav-item:last-of-type .nav-link {
    border-radius: 0 4px 0 0;
}

/* End Block banner */

/* Block intro */
@media screen and (min-width: 600px) {
    .card-intro {
        height: 100%;
    }
}

.card-intro .card-header img {
    display: block;
    height: 100px;
    width: 100px;
    margin: 0 auto;
}

.card-intro .card-body .card-title {
    font-weight: 700;
    font-size: 1.4em;
    color: #454545;
}

.card-intro .card-body .card-text {
    color: #767676;
    font-size: 1.05em;
}

/* End block intro */
/* Block Recommended */
.card-recommended .card-img {
    height: 275px;
    border-radius: 0;
    background-size: cover;
    background-position: 50%;
    transition: transform .25s ease-out;
}

.card-recommended .card-img-overlay {
    transition: all .6s cubic-bezier(.22, 1, .36, 1);
    background: transparent;
}

.card-recommended .card-img-overlay .card-inner {
    padding: 20px;
    position: relative;
}

.card-recommended .card-img-overlay .card-inner .card-subtitle {
    font-weight: 300;
    color: #f1f1f1;
}

.card-recommended .card-img-overlay .card-inner .card-title {
    transition: all .6s cubic-bezier(.22, 1, .36, 1);
    font-size: 1.5em;
}

.card-recommended .card-img-overlay .card-inner .card-title i {
    position: absolute;
    top: 3px;
    font-size: .9em;
    left: -70px;
    transition: all .6s cubic-bezier(.22, 1, .36, 1);
}

.card-recommended .card-img-overlay .card-inner .card-line {
    display: block;
    width: 0;
    height: 1px;
    background: #fff;
    transition: all .6s cubic-bezier(.22, 1, .36, 1);
    margin: 20px 0;
}

.card-recommended .card-img-overlay .card-inner .card-price {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    transition: all .6s cubic-bezier(.22, 1, .36, 1);
}

.card-recommended .card-img-overlay .card-inner .card-price small {
    font-weight: 300;
    color: #f1f1f1;
    display: inline-block;
}

.card-recommended .card-img-overlay .card-inner .card-price span {
    color: #fff;
    font-weight: bold;
    font-size: 1.4em;
}

.card-recommended .card-img-overlay .card-inner .card-price span sup {
    top: -5px;
}

.card-recommended .card-img-overlay .card-inner .card-action {
    position: absolute;
    bottom: 20px;
    right: 40px;
    opacity: 0;
    font-size: 1.6em;
    color: #f1f1f1;
    visibility: hidden;
    transition: all .6s cubic-bezier(.22, 1, .36, 1);
}

.card-recommended:hover .card-img {
    transform: scale(1.1);
}

.card-recommended:hover .card-img-overlay {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, .5);
}

.card-recommended:hover .card-img-overlay .card-inner .card-title {
    padding-left: 30px;
}

.card-recommended:hover .card-img-overlay .card-inner .card-title i {
    left: 0;
}

.card-recommended:hover .card-img-overlay .card-inner .card-line {
    width: 100%;
}

.card-recommended:hover .card-img-overlay .card-inner .card-price {
    bottom: 110px;
}

.card-recommended:hover .card-img-overlay .card-inner .card-action {
    right: 20px;
    opacity: 1;
    visibility: visible;
}

/* End Block Recommended */

/* Block Popular */
@media screen and (min-width: 600px) {
    .card-popular {
        height: 100%;
    }
}

.card-popular .card-img {
    height: 256px;
    background-position: 50%;
    background-size: cover;
    transition: all .3s ease-out;
}

.card-popular .card-img .card-rating {
    top: -1px;
    right: -1px;
    z-index: 1;
}

.card-popular .card-img .card-rating .rating-value {
    position: relative;
}

.card-popular .card-img .card-rating .rating-value p {
    position: absolute;
    top: calc(50% - 3px);
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: .90em;
}

.card-popular .card-img .card-rating .rating-value p small {
    margin-right: 3px;
    line-height: 1;
    margin-top: -2px;
}

.card-popular .card-body .card-title {
    font-size: 1.1em;
    color: #545454;
    font-weight: 700;
    transition: all .3s ease-out;
}

.card-popular .card-body .card-price {
    text-align: right;
    font-size: 1.2em;
    transition: all .3s ease-out;
    color: #545454;
}

.card-popular .card-body .card-price small {
    font-weight: 300;
}

.card-popular .card-body .card-price span {
    font-weight: 700;
}

.card-popular .card-body .card-price sup {
    top: -3px;
    margin-left: 3px;
}

.card-popular:hover .card-img {
    opacity: .8;
}

.card-popular:hover .card-body .card-title,
.card-popular:hover .card-body .card-price {
    color: #232323;
}

/* End Block Popular */